<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-cacheindexer" value="D:\Projetos\Git\CacheIndexer\Rochas.CacheIndexer" />
    <add key="local-sqlwrapper" value="D:\Projetos\Git\SqlWrapper\Rochas.SqlWrapper" />
    <add key="local-bwoq" value="D:\Projetos\Git\BWOQ\Rochas.BWOQ" />
    <add key="local-telemetry" value="D:\Projetos\Git\Telemetry\Rochas.Telemetry" />
  </packageSources>
</configuration>
